<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>school pargi </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{%static "css/base.css"%}">
  <link rel="stylesheet" href="{%static "css/home.css"%}">
 <div class="container">
   <div class="" align=center>
         <h1>Daffodils School, Pargi </h1>
         {%block scroller%}

         {%endblock%}
 </div>
 </div>
  </head>
  <body>


  <nav class="navbar navbar-expand-md navbar-dark bg-dark"  >

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
           <a href="/home" class="nav-item nav-link active">Home</a> &emsp;
           <a href="/contact" class="nav-item nav-link">About</a> &emsp;
           <a href="/enquiry" class="nav-item nav-link">Enquiry</a> &emsp;
           <a href="/smupload" class="nav-item nav-link">SM_upload</a> &emsp;
           <a href="/rvupload" class="nav-item nav-link">RV_upload</a> &emsp;
           <a href="/shome" class="nav-item nav-link">Student Home</a> &emsp;
           <a class="nav-item dropdown"> <! start>
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Reports
           </a> &emsp;
           <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <a class="dropdown-item" href="/ereport">Enquiry Report</a>
             <a class="dropdown-item" href="/student_info">Students Report</a>
             <a class="dropdown-item" href="/smreport">SM report </a>
             <a class="dropdown-item" href="/rvreport">RV report </a>
             <a class="dropdown-item" href="/rlreport">Rlink report </a>
             <a class="dropdown-item" href="/asreport">AS report </a>
           </div>
            </a> <!end>

           <div>
            <a class="nav-item dropdown"> <! start>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              UPLOADs
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/smupload">SM Upload</a>
              <a class="dropdown-item" href="/rvupload">RV Upload </a>

            </div>
             </a> <!end>
           </div>
       </div>

          <div class='nav navbar-nav navbar-right'>
              <a href="#" class="nav-item nav-link" >Signoff</a> & nbsp&nbsp&
              <a href="/accounts/login" class="nav-item nav-link">Login</a> & nbsp&nbsp&
              <a href="/accounts/logout" class="nav-item nav-link">Logout</a>
          </div
    </div>
</nav>



   {%block child_block%}


   {%endblock%}


  </body>



</html>
