<!DOCTYPE html>
{%extends 'testapp/shome.html' %}
{%load static%}

{%block grand_child_block%}



  <div class="container" align="center">
    <h5>{{title}} </h5>
    <p> {{request.user.username}}</p>
    <p>  {{classx}}</p>
    <p> {{section}}</p>
      <a href="/smaths"   > <img src="https://icons.iconarchive.com/icons/kyo-tux/soft/64/Tutorial-icon.png" >Maths</a>
      <a href="/senglish" >   <img src="https://icons.iconarchive.com/icons/martz90/circle/64/books-icon.png" >English</a>
      <a href="/sscience"   > <img src="https://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/64/Categories-applications-education-science-icon.png">Science</a>
      <a href="/shindi"   > <img src="https://icons.iconarchive.com/icons/alecive/flatwoken/64/Apps-Google-Play-Books-icon.png">Hindi</a>
      <a href="/stelugu"   > <img src="https://icons.iconarchive.com/icons/google/noto-emoji-objects/64/62858-closed-book-icon.png">Telugu</a>
      <br>
      <br>
    </div>
    <div class="container" align="center" >
      {%if recs %}

      <table border="2">
        <thead>
          <th>Title</th>
          <th>Subject</th>
          <th>pdf</th>
          <th>DownLoad</th>
          <th>Std</th>
          <th>Section</th>
        </thead>
        {%for rec in recs%}
        <tr>
          <td>{{rec.title}}</td>
          <td>{{rec.subject}}</td>
          <td>{{rec.pdf}}</td>
          <td><a href="{{rec.pdf.url}}" class="btn btn-primary "> Download</a></td>
          <td>{{rec.std}}</td>
          <td>{{rec.sec}}</td>
        </tr>
        {%endfor%}
      </table>
      {%else%}
      <h1>No report records</h1>
      {%endif%}
  </div>
{%endblock%}
